@charset "uft-8";
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; /* IE x */
    font-size: 10px;
}

body {
    background-color: #fff;
}

body, h1, h2, h3, p, ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}

input {
    border: none;
    padding: 0;
}

a {
    text-decoration: none;
}

button {
    border: none;
}

iframe {
    border: none;
    width: 100%;
}