@charset "utf-8";

@font-face {
    font-family: 'NEXON Lv2 Gothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'NEXON Lv2 Gothic', sans-serif;
    color: #777;
}

a {
    color: #111;
    text-decoration: none;
}

h1 {
    font-size: 2.4rem;
    letter-spacing: 10px;
    color: #fff;
}

h2 {
    text-align: center;
}

h2+p {
    text-align: center;
}

/* skill */
.skill h3 {
    text-align: center;
    font-weight: normal;
}

.skill p {
    letter-spacing: 8px;
}

.counter {
    text-align: center;
    color: #fff;
}

.counter span {
    font-size: 2.4rem;
}

/* 패럴렉스 스크롤링 */
.parallax {
    text-align: center;
}

.parallax span {
    letter-spacing: 10px;
    font-size: 3.6rem;
    line-height: 400px;
    color: #fff;
}

/* 주소 */
.addr ul {
    font-size: 1.8rem;
}

.addr ul i:hover {
    color: #111;
}

/* 폼 요소는 텍스트 서식을 직접 지정한다. */
input, button {
    font-family: 'NEXON Lv2 Gothic', sans-serif;
}

form button {
    font-size: 1.5rem;
    color: #fff;
}

/* 푸터 */
footer {
    color: #fff;
    text-align: center;
}

footer a {
    color: #f1f1f1;
}

footer .toTop a {
    color: #777;
}

footer:hover .toTop a {
    color: #111;
}

.sns a {
    font-size: 24px;
    color: #ccc;
    vertical-align: middle;
}

.sns a:hover {
    color: #fff;
}