@charset "utf-8";

/* * {outline: 1px solid red;} */

/* 초기화 */
* {
    box-sizing: border-box;
}

body,
h1,
h2,
h3,
ul {
    margin: 0;
}

ul {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
}

a {
    text-decoration: none;
}



/* 타이포 */
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');


html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Nanum Gothic', sans-serif;
}

a {
    color: #111;
}

.txt {
    color: #fff;
    letter-spacing: 4px;
    font-size: 36px;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2.0rem;
}

#sec3 p {
    font-size: 1.7rem;
    color: #555;
}

#sec3 button {
    font-size: 1.3rem;
}

#sec4 {
    color: #eee;
}

#sec4 select,
input {
    font-size: 1.5rem;
    color: #555;
}

#sec4 button {
    font-size: 2rem;
    color: #C40f39;
}

footer {
    color: #fff;
    text-align: center;
    vertical-align: middle;
}

/***************************************************/

/* 헤더 */
header {
    z-index: 999;
    position: fixed;
    width: 100%;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    background-color: #fff;
}

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 55px;
}

.logo {
    padding-left: 10px;
}
/* 섹션 공통 */
.sec {
    position: relative;
}

h2 {
    line-height: 3rem;
    margin: 2rem 0;
    padding: 3rem 0 2rem 2rem;
    border-bottom: 1px solid #f1f1f1;
}

h3 {
    margin-top: 10px
}
/* 섹션1 */
#sec1 {
    padding-top: 55px;
}

.main_img {
    position: relative;
}

.txt {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -200%);
}

.tit1 {
    font-size: 3rem;
    padding: 8px 16px;
    background-color: #111111;
    opacity: .75;
}

.tit2 {
    display: none;
}



/* 섹션 2, 3 공통 */
.sec23 li {
    width: auto;
    height: auto;
}

/* 섹션 2, 3, 4 공통 */
section {
    padding: 30px 20px 0 20px;

}

/* 섹션2 */
#sec2 li {
    position: relative;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

#sec2 li:last-of-type{
    margin-bottom: 0;
}

#sec2 span {
    position: absolute;
    left: 0;
    /* top: 0; */
    width: 92px;
    height: 42px;
    text-align: center;
    color: #fff;
    background-color: #333;
    padding: 8px 16px;
}

#sec3 > ul > li {
    margin-bottom: 30px;
}
#sec3 .s3wrap ul {
    list-style: disc;
    margin-left: 10px;
    padding: 0 12px;
}

#sec3 a {
    display: block;
    padding: 8px 16px;
    margin-top: 14px;
    border: none;
    background: #f1f1f1;
    text-align: center;
}

#sec3 a:hover {
    background: #ccc;
}
/* 섹션4 */
#sec4 {
    background: url(../images/inquiry_bg.jpg);
    background-size: cover;
}

#sec4 form, .right {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select,
input {
    width: 350px;
    height: 40px;
    border: 1px solid #b7b6b5;
    margin: 10px 0;
    padding: 10px 12px;
    box-sizing: border-box;
    display: block;
}

#sec4 button {
    width: 240px;
    height: 42px;
    border: none;
    padding: 8px 16px;
    margin-top: 2rem;
    margin-bottom: 40px;
    display: inline-block;
}

#sec4 button:hover {
    background-color: #C40f39;
    color: #fff;
    transition: .3s;
}


#sec4 iframe {
    width: 350px;
    height: 300px;
    border: none;
}
#sec4 p {
    margin: 0;
    padding: 4px 0 10px 0;
}
#sec4 p:last-of-type {
    padding-bottom: 20px;
}
#sec4 p:first-of-type span {
    display: block;
}

/* 푸터 */
footer {
    width: 100%;
    height: 84px;
    margin-top: 6px;
    padding: 2px 0;
    background-color: #111111;
}
footer span {
    display: block;
}




/* 992px 이상 */
@media (min-width: 992px) {

/* 헤더 */
.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo {
    width: 200px;
    height: 50px;
    padding: 0 15px;
}

/* 내비게이션 */
#gnb {
    margin-right: 20px;
    padding: 13px;
}

#gnb li {
    display: inline-block;
    margin: 0 16px;
}

/* 섹션 공통 */
.sec {
    position: relative;
    width: 1500px;
    margin: 0 auto;
}

h2 {
    line-height: 3rem;
    margin: 2rem 0;
    padding: 3rem 0 2rem 2rem;
    border-bottom: 1px solid #f1f1f1;
}

h3 {
    margin-top: 10px
    
}

/* 섹션1 */
.txt {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

}

.tit1 {
    padding: 8px 16px;
    background-color: #000;
    opacity: .75;
}

.tit2 {
    display: inline;
}

/* 섹션2,3 공통 */
.sec23 {
    padding-top: 50px;
    
}

/* 섹션2 */
#sec2 ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sec2 li {
    width: 360px;

    margin-bottom: 20px;
    position: relative;
    border: 1px solid #ccc;
}

#sec2 li:nth-of-type(4) ~ li {
    margin-bottom: 0;
}



/* 섹션3 */
#sec3 > ul:first-of-type {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#sec3 > ul:first-of-type > li {
    width: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#sec3 .s3wrap {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    height: 540px;
}




/* 섹션4 */
#sec4 {
    margin: 100px 0 8px 0;
    width: auto;
}

#sec4 .s4wrap {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.left p {
    margin-top: 12px;
    padding: 16px 0;
}

form {
    opacity: .8;
}

select,
input {
    width: 540px;
    height: 58px;
    margin: 16px 0;
}

#sec4 button {
    width: 380px;
    height: 60px;
    margin: 1rem 0 4rem 6rem;
}

#sec4 iframe {
    width: 700px;
    height: 520px;

}

#sec4 .right p {
    padding-left: 10px;
}


/* 푸터 */
footer span {
    display: inline;
}

}