@caharset "utf-8";
@import url(phone.css);
@import url(tablet.css) (min-width:768px);
@import url(desktop.css) (min-width:992px);

/* phone */
/* body {background: red;} */


/* tablet: 최소 768px -> 최소 768px 이상인 장치] */
/* @media (min-width:768px) {
body {
    background: green;}
} */

/* desktop: 최소 992px -> 992px 이상인 장치 */
/* @media (min-width:992px) {
    body {
    background: blue;}
} */