@charset "utf-8";

/* 작업중 */
body {border: red;}
header {background-color: lightpink;}
#sec1 {background-color: lightgoldenrodyellow;}
#sec2 {background-color: lightcyan;}
#sec3 {background-color: lightgray;}
#sec4 {background-color: lightgoldenrodyellow;}
#sec5 {background-color: lightcyan;}

/* reset */
* {
    box-sizing: border-box;
}

body {
    background-color: #fff;
}

body,
h1,
h2,
h3,
p,
ul {
    margin: 0;
}

ul, ol {
    padding: 0;
    list-style: none;
}

img {
    width: 100%;
    vertical-align: top;
}

input {
    border: none;
    padding: 0;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

/* typo */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;700&display=swap');

html {
    font-size: 10px;
}

body {
    font: 1.5rem/1.8 'Noto Sans KR', sans-serif;
}

/* 헤더 */
header {
    height: 100px;
}

/* 섹션 공통 */
.sec {
    height: 800px;
}

/* 섹션1 */


/* 섹션2 */


/* 섹션3 */
/* 채용 */
.recruit li {
    display: inline-block;
}
.recruit span {
    display: block;
}
.recruit img {
    width: 90px;
    height: 90px;
}
